/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.wrapper {
display: flex;
width: 100%;
align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
a[data-toggle="collapse"] {
        position: relative;
    }

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #3991DB;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3991DB;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #3991DB;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#sidebar ul li a:hover {
    color: rgb(20, 3, 3);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3991DB;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3991DB;
}



.circle{
    width: 90px;
    height: 90px;
    background-color: #DDDDDD;
    border: 1px solid #b3aeae;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
}
.circle img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.corner{
	width:30px;
	height: 30px;
	border-radius: 50%;
	background-color: #5CB85C;
}

.navbar{
    background-color: rgb(49, 160, 86);
}

.log span{
    color: #ffff;
    font-size: 20px;
    font-family: 'Koulen', cursive;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    float: right;
}

.icons img{
    height: 30px;
    width: 30px;
}

#sms{
    width:30px;
	height: 30px;
	border-radius: 50%;
	background-color: #5CB85C;
    text-align: center;
    color: #fff;

}

.icons-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* Pop Up For User Messages */
.popup {
    position: fixed;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;
}
.popup .overlay {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.15);
    width: 50%;
    height: auto;
    background: #fff;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 2px 2px 5px rgba(0,0,0,0,0.5);
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.popup .popup-content #comments {
    margin: 10px 0px;
    color: #111;
    padding: 10px;
}

.popup .popup-content #comments h6{
    color: #111;
    font-size: 10px;
}

.popup .popup-content .controls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px 0px;
}


.popup.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup.active .popup-content {
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
}